# Pipfile

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
start = "python example_crawl.py"

[dev-packages]
pylint = "*"

[packages]
selenium = "*"
chromedriver-binary = "~=77.0"
beautifulsoup4 = "*"

[requires]
python_version = "3.7"
